<app-toolbar></app-toolbar>

<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" type="email" required>
          @if (loginForm.get('password')?.hasError('required')) {
            <mat-error>Wachtwoord is verplicht</mat-error>            
            }
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Voer een geldige e-mail in
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Wachtwoord</mat-label>
          <input matInput formControlName="password" type="password" required>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Wachtwoord is verplicht
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>

      <div style="margin-top: 1rem; text-align: center;">
        <p>Nog geen account? <a routerLink="/register" routerLinkActive="active-link">Registreer hier</a></p>
      </div>

    </mat-card-content>
  </mat-card>
</div>
